In [1]:
import numpy as np
import pandas as pd

In [48]:
df = pd.read_csv('./Inferential Statistics - Student Loan.csv')

In [64]:
df

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5,recoverable_amt,amt_at_risk,probability_loss_amt
0,1,1150000.0,20.00,0.0070,NaN,NaN,230000.0,920000.0,6440.00000
1,2,24000.0,5.10,0.0033,NaN,NaN,1224.0,22776.0,75.16080
2,3,4000.0,24.86,0.0022,NaN,NaN,994.4,3005.6,6.61232
3,4,1381000.0,2.29,0.0066,NaN,NaN,31624.9,1349375.1,8905.87566
4,5,1984000.0,3.47,0.0020,NaN,NaN,68844.8,1915155.2,3830.31040
...,...,...,...,...,...,...,...,...,...
9995,9996,1979000.0,20.19,0.0079,NaN,NaN,399560.1,1579439.9,12477.57521
9996,9997,1833000.0,38.38,0.0068,NaN,NaN,703505.4,1129494.6,7680.56328
9997,9998,1083000.0,28.40,0.0037,NaN,NaN,307572.0,775428.0,2869.08360
9998,9999,2429000.0,37.37,0.0056,NaN,NaN,907717.3,1521282.7,8519.18312
9999,10000,3000.0,22.55,0.0032,NaN,NaN,676.5,2323.5,7.43520

In [50]:
df.shape

(10000, 6)

In [51]:
df.isnull().sum()

Customer No.                             0
Exposure at Default (in lakh Rs.)        0
Recovery (%)                             0
Probability of Default                   0
Unnamed: 4                           10000
Unnamed: 5                           10000
dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer No.                       10000 non-null  int64
 1   Exposure at Default (in lakh Rs.)  10000 non-null  float64
 2   Recovery (%)                       0 non-null      float64
 3   Probability of Default             10000 non-null  float64
 4   Unnamed: 4                         0 non-null      float64
 5   Unnamed: 5                         0 non-null      float64
dtypes: float64(5), int64(1)
memory usage: 468.9 KB

In [53]:
df['Recovery (%)'] = df['Recovery (%)'].apply(lambda x : pd.to_numeric(x[0:-1]))

In [26]:
df['Recovery (%)'] = df['Recovery (%)'].value_counts().astype(float)

In [39]:
# df[['Exposure at Default (in lakh Rs.)','Recovery (%)']].apply(lambda x, y : x * y)

In [56]:
df['Exposure at Default (in lakh Rs.)'] = df['Exposure at Default (in lakh Rs.)'] * 100000

In [60]:
df['recoverable_amt'] = df['Exposure at Default (in lakh Rs.)'] * (df['Recovery (%)']/100)

In [61]:
df['amt_at_risk']  = df['Exposure at Default (in lakh Rs.)'] - df['recoverable_amt']

In [63]:
df['probability_loss_amt']  = df['amt_at_risk'] *  df['Probability of Default']

In [65]:
df['probability_loss_amt'].sum()

49339131.440620005